
@font-face {
  font-family: 'AlegreyaSans';
  src: url('./fonts/AlegreyaSans-Regular.woff');
  font-weight: normal;
}


@font-face {
  font-family: 'AlegreyaSans';
  src: url('./fonts/AlegreyaSans-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./fonts/AlegreyaSans-ExtraBold.woff');
  font-weight:800;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./fonts/AlegreyaSans-Thin.woff');
  font-weight:lighter;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./fonts/AlegreyaSans-Light.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./fonts/AlegreyaSans-Medium.woff');
  font-weight: 600;
}